.about-us {
  padding: 80px 0px;
  .about-us-title {
    font-size: 34px;
    font-weight: bold;
    span {
      font-size: 20px;
      font-weight: 600;
      font-style: italic;
      color: #4980ac;
    }
  }
  .about-us-sub-title {
    font-size: 20px;
    font-weight: bold;
    color: #206289;
  }
  .grey-card {
    margin-top: 40px;
    margin-bottom: 60px;
    .row {
      img {
        max-width: 390px;
      }
    }
  }
  .our-partners {
    margin-top: 80px;
    margin-bottom: 60px;
    img {
      max-width: 100%;
    }
  }
}
